<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="manufactures">Manufacture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="orders">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="departments">Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="subpieces" >Subpieces</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="products/add">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="orders/add" >Add Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="subpieces/add" >Add Subpiece</a>
          </li>
          <app-cart-summary></app-cart-summary>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="login" *ngIf="isNotAuthenticated()">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="register" *ngIf="isNotAuthenticated()">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="" (click)="logout()" *ngIf="!isNotAuthenticated()">Log out</a>
            </li>
          </ul>
        <img src="../assets/thumbs_b_c_a5ba64a27d49a929e9fdf630ad8ba4a1.jpg" class="img1">
      </div>
    </div>
  </nav>