<div class="content">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div class="card-header"><h5 class="title">1. İstasyon</h5></div>
        <div class="card-body">
          <form [formGroup]="manufactureAddForm">
            <div class="mb-3">
              <label for="id">Sipariş Id</label>
              <div class="form-group">
                <input
                  type="number"
                  id="id"
                  formControlName="id"
                  class="form-control"
                  placeholder="Sipariş id"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-fill btn-primary" (click)="manufactureStationA()">Parça ekle</button>
        </div>
      </div>
    </div>
    <div class="col-md-2">
        <div class="card">
          <div class="card-header"><h5 class="title">1. İstasyon</h5></div>
          <div class="card-body">
            <form [formGroup]="manufactureAddForm">
              <div class="mb-3">
                <label for="id">Sipariş Id</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="id"
                    formControlName="id"
                    class="form-control"
                    placeholder="Sipariş id"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="manufactureStationB()">Parça ekle</button>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-header"><h5 class="title">1. İstasyon</h5></div>
          <div class="card-body">
            <form [formGroup]="manufactureAddForm">
              <div class="mb-3">
                <label for="id">Sipariş Id</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="id"
                    formControlName="id"
                    class="form-control"
                    placeholder="Sipariş id"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="manufactureStationC()">Parça ekle</button>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-header"><h5 class="title">1. İstasyon</h5></div>
          <div class="card-body">
            <form [formGroup]="manufactureAddForm">
              <div class="mb-3">
                <label for="id">Sipariş Id</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="id"
                    formControlName="id"
                    class="form-control"
                    placeholder="Sipariş id"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="manufactureStationD()">Parça ekle</button>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          <div class="card-header"><h5 class="title">1. İstasyon</h5></div>
          <div class="card-body">
            <form [formGroup]="manufactureAddForm">
              <div class="mb-3">
                <label for="id">Sipariş Id</label>
                <div class="form-group">
                  <input
                    type="number"
                    id="id"
                    formControlName="id"
                    class="form-control"
                    placeholder="Sipariş id"
                  />
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="manufactureStationE()">Parça ekle</button>
          </div>
        </div>
      </div>
  </div>
</div>
